*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/images/galaxy.png);
    background-repeat: no-repeat;
    background-color: #1B2432;
    background-size: 110%;
    background-position: center;
}

header {
    color: #121420;
    text-align: center;
    padding-top: 20px;
    height: 20vh;
    /* background-image: url(assets/images/other-background.png);
    background-position: bottom center; */
}
header h1 {
    padding: 10px;
    background-color: white;
    opacity: 70%;
}

main {
    text-align: center;
    height: 65vh;
    color: #121420;
}

#play {
    background-color: white;
    padding: 10px;
    opacity: 70%;
}

#start {
    border-radius: 10px;
    font-size: 40px;
    padding: 5px;
    margin: 30px;
    background-color: white;
    opacity: 70%;
    color: #121420;
}

section {
    opacity: 70%;
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    margin: auto;
    /* border: 5px solid #403F4C; */
    background-color: #ffffff;
    color: #403F4C;
}

#word {
    width: 50%;
    margin: auto;
    font-size: 50px;
}

div {
    width: 50%;
    height: 10vh;
}

#timer {
    margin-top: 20px;
    margin-bottom: 10px;
}

#letter {
    margin-top: 50px;
    font-size: 50px;
}

#alphabet {
    margin: 50px;
}

footer {
    text-align: center;
    padding-top: 30px;
    height: 15vh;
}

footer p {
    background-color: white;
    opacity: 70%;
    padding: 10px;
}